
<! DOCTYPE html>


{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>

    <!------ navbare up ---------->

    <section>
        <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <img src="{% static 'images/ibn.png' %}" alt="" width="190px" height="90px"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="nav navbar-nav ml-auto" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link active m-lg-2" aria-current="page" href="{% url 'home'%}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active m-lg-2" href="{% url 'userLogin'%}">Log in</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link active m-lg-2" href="https://fs.uit.ac.ma/">faculté</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active m-lg-2" href="https://www.uit.ac.ma/contactez-nous/">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <br>
    <br>
    <br>



    <!------ container ---------->
	<div class="container">
        <div class="alert alert-success" role="alert">
            <div style="text-align:center">
                <h4 class="alert-heading">Réinitialisation du mot de passe envoyée</h4>
                <br>
                <br>

            </div>
           
            <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.</p>
            <hr>
            <p class="mb-0">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam. </p>
          </div>
    </div>
	
	
</body>
<script src="{% static 'js/script.js' %}"></script>

</html>

